* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fffdf3;
  font-family: "Lato", sans-serif;
}
nav {
  background-color: white;
  padding: 20px 100px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
#container-login {
  background-color: white;
  width: 600px;
  height: 600px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
form {
}
