* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fffdf3;
  font-family: "Lato", sans-serif;
}
nav {
  background-color: white;
  padding: 20px 100px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
#container-login {
  background-color: white;
  width: 600px;
  height: 600px;
  border: 1px solid #efefef;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 36px;
  align-items: center;
}
#container-login h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
#container-login h3 {
  font-weight: 400;
  color: #333333ad;
  margin-bottom: 36px;
}
#container-login form label {
  margin-bottom: 4px;
}
#email {
  box-sizing: border-box;
  padding: 10px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  margin-bottom: 16px;
}
.pass-container {
  position: relative;
}
#password {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  margin-bottom: 16px;
}
#eye-off {
  position: absolute;
  top: 10px;
  right: 10px;
}
form {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.lupa-pass {
  width: 100%;
  text-align: right;
  margin-bottom: 24px;

  font-size: 16px;
}
.lupa-pass a {
  color: #333333ad;
  text-decoration: none;
}
.masuk {
  background-color: #3ecf4c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
}
.daftar {
  background-color: #e2fcd9cc;
  color: #3ecf4c;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
}
.atau-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.atau {
  font-size: 16px;
  color: #4a505c;
}
.atau-container span {
  height: 3px;
  width: 50%;
  background-color: #f1f1f1;
}
.masuk-google {
  background-color: #ffffff;
  border: 1px solid #efefef;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.masuk-google span {
  color: #4a505c;
}

@media (max-width: 1600px) {
  #container-login {
    height: fit-content;
  }
  main {
    height: fit-content;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  nav {
    padding: 20px;
  }
  nav img {
    width: 40%;
  }
  #container-login h1 {
    font-size: 24px;
  }
  #container-login h3 {
    font-size: 14px;
  }
  .masuk {
    font-size: 14px;
  }
  .daftar {
    font-size: 14px;
  }
  .masuk-google {
    font-size: 14px;
  }
}
